:root {
    --myblue: #39a0ed;
    --mycyan: #1EC7CF;
    --mydark: #4C6085;
    --mygray: #dddddd;
    --mygreen: #31C062;
    --litecyan: #d5fdff;
    --liteblue: #dcefff;
    --litedark: #a5afc2;
  }

.box{
    border-radius: 5px;
    padding: 4px;
    border:2px solid blue;
    margin-bottom: 35px;
}

.box-1{
	background-color:#333;
	color:#fff;
	padding: 8px;
	
	margin-top:20px;
	margin:20px 0;
}
.box-2{
	border:3px solid blue;
	padding:20px;
	width : 40%;
	position : absulate;
	top : 30%;
	left : 25%;
	margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    box-shadow: 0 4px 8px 0 #010914d1;
}

#heading{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: darkcyan;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

#button{
    margin: 10px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d5af1;
    color:#fff;
    border-radius:4px;
    cursor:pointer;
}
.button2{
    margin: 10px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color:#fff;
    border-radius:4px;
    cursor:pointer;
}
#button2{
    margin: 10px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: DodgerBlue;
    color:#fff;
    border-radius:4px;
    cursor:pointer;
    font-family:cursive;
    
}
#downloadButton:before {
    background: url("../images/download.svg") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 30px;
    margin-right: 13px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 30px;
}
#downloadButton:after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.my-form{
	padding:20px;
}

.my-form .form-group{
	padding-bottom:15px;
}

.my-form label{
	display:block;
    font-family: serif;
}
.my-form select {
  text-indent: 10px;
}
select {
    padding: 8px;
    margin: 5px;
}

select::-ms-expand {
  display: none;
}
select {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 0.5em;
  border: 1px solid #d41ce0;
  font: inherit;
  font-family:cursive;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;
}
option{
    position:absolute;
    top:100%;
    right:0;
    left:0;
    margin:inherit 0;
    padding:0 0;
    background-color:#2229ae24;
    font-family: cursive;
}
input[type="file"] {
    padding:8px;
    margin: 5px;
}

.my-form input[type="file"]{
	padding:8px;
    margin: 5px;
	width:100%;
}
.choose::-webkit-file-upload-button {
  color: white;
  display: inline-block;
  background: #1CB6E0;
  border: none;
  padding: 7px 15px;
  font-weight: 700;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt;
  font-family: cursive;
}

label{
    font-family: candara, comic-sans, serif;
}

table{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-collapse: collapse;
    margin: 100px auto;
    box-shadow: 0 0 20px #010914;
}

tr:nth-of-type(odd) {
    border:1px solid var(--myblue);
    background-color: var(--litecyan);

}
tr:nth-of-type(even) {
    border:1px solid var(--mycyan);
    background-color: var(--liteblue);
}
tr:nth-of-type(1){
    border: 0;
}
th{
    color: #fff;
    height: 50px;
    vertical-align: center;
    outline : 1px solid #fff;
    background-color: var(--mydark);
    font-family: serif;
}
th:nth-of-type(1){
    border-top-left-radius: 8px;
}
th:nth-last-of-type(1){
    border-top-right-radius: 8px;
}
td{
    height: 50px;
    vertical-align: center;
    border: 1px solid black;
    font-family: cursive, Comic-Sans-MS , sans-serif;
}


#main{
    
}
#kalu{
    
}

/*td,tr:hover {
    background-color: rgba(255,255,255,0.3);
}*/


.download {
    background-color:var(--mycyan);
    border-radius: 10px;
    color: #FFFFFF;
    padding: 0.64286em 0.85714em 0.53571em;
    position: relative;
    margin: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: cursive;
    
}
.download:visited {
    color: #FFFFFF;
}
.download:hover, 
.download:focus {
    background: none repeat scroll 0 0 var(--mycyan);
    box-shadow: 0 6px 0 var(--mygray), 0 6px 3px rgba(0, 0, 0, 0.4);
    color: #FFFFFF!important;
}
.download:active {
    box-shadow: 0 0 0 var(--mygray), 0 0 0 rgba(0, 0, 0, 0.4);
    top: 6px;
}
.download:active:after {
    top: -6px;
}
.download:before {
    background: url("../images/download.svg") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 20px;
    margin-right: 13px;
    position: relative;
    vertical-align: middle;
    width: 30px;
}
.download:after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.view {
    background-color: var(--myblue);
    border-radius: 10px;
    color: #FFFFFF;
    padding: 0.64286em 0.85714em 0.53571em;
    position: relative;
    margin: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: cursive;
    
}
.view:visited {
    color: #FFFFFF;
}
.view:hover, 
.view:focus {
    background: none repeat scroll 0 0 var(--myblue);
    box-shadow: 0 6px 0 var(--mygray), 0 6px 3px rgba(0, 0, 0, 0.4);
    color: #FFFFFF!important;
}
.view:active {
    box-shadow: 0 0 0 var(--mygray), 0 0 0 rgba(0, 0, 0, 0.4);
    top: 6px;
}
.view:active:after {
    top: -6px;
}
.view:before {
    background: url("../images/view.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 20px;
    margin-right: 13px;
    position: relative;
    vertical-align: middle;
    width: 30px;
    
    top: 2px;
}
.view:after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
