*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: hsl(200,0%,100%);
    flex-direction: row;
}
a{
    text-decoration: none;
}
#center{
    overflow-x: scroll;
}
#home{
}





/*Home Card*/
#front_page{
    color: #fff;
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    width: fit-content;
    height: fit-content;
    background-image: url(../images/figma.svg);
    background-repeat: no-repeat;
    background-size: calc(200px + 30%);
}
#front_left{
    filter: drop-shadow(10px 10px 8px rgba(0,0,0,0.5));
    margin-top: calc(50px + 5%);
    text-align: center;
    min-width: calc(110px + 25%);
    display: flex;
    flex-direction: column;
}

#btn_container{
    margin-top: calc(40px + 5%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#btn1{
    height:43px;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    width: 142px;
    padding:5px;
    border:2px solid #fff;
    border-radius: 5px;
    margin:5px;
}
#btn2{
    height:43px;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    width: 142px;
    padding: 5px;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    margin:5px;
    color: #000;
}
#front_right img{
    filter: drop-shadow(30px 20px 8px rgba(0,0,0,0.5));
    max-height: 100%;
    max-width: 100%;
}
@media (max-width: 680px) {
    #front_page{
        flex-direction: column;
    }
    #front_page{
        background-size: auto;
    }
}
#online_exam{
    right: 0;
    max-width: 500px;
    width: 50%;
    position: absolute;
    bottom: 0;
}
#temp{
    left: 0;
    max-width: 500px;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: aqua;
}

#cards_container{
    text-decoration: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    filter: drop-shadow(10px 10px 4px rgba(0,0,0,0.25));
    background-attachment: fixed;
    padding: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    justify-items: center;
    grid-gap: 30px;
}
@media (max-width: 1164px) {
    #cards_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.card{
    border: 2px solid white;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 323.4px;
    height: 425.8px;
    border: 2px solid white;
}
.card img{
    margin-top: 42.7px;
    margin-left: 79.1px;
    height: 165.2px;
    width: 165.2px;
    margin-bottom: 42.7px;
}
.card div h3{
    width: 100%;
    text-align: center;
}
.card div{
    width: 100%;
    height: 175.2px;
    color: hsl(208,96%,100%);
    padding: 5px;
}
#card_bottom_quiz{
    background-color: #FF5C5C;
}

#card_bottom_notes{
    text-decoration:none;
    background-color: #3D5AF1;
}
#card_bottom_blog{
    text-decoration:none;
    background-color: #43CB8E;
}
#card_1{
    background-color: #FFBBBB;
}
#card_2{
    background-color: #BADEFF;
}
#card_3{
    background-color: #98D2B8;
}





















body{
	color:#555555;

	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;

	margin:0;
}

a{
	text-decoration: none;
	color:#000;
}

a:hover{
	color:red;
}

a:active{
	color:green;
}

a:visited{
	
}

h1{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

.bar {
  height: .25em;
  width: 100%;
  background: black;
  margin: 1.5em auto 0;
}

.container{
	width:80%;
	margin:auto;
}

.button{
	background-color:#333;
	color:#fff;
	padding:10px 15px;
	border:none;
}

.button:hover{
	background:red;
	color:#fff;
}


.box-1{
	background-color:#333;
	color:#fff;
	padding: 8px;
	
	margin-top:20px;
	margin:20px 0;
}

.box-1 h1{
	font-family:Tahoma;
	font-weight:800;
	font-style:italic;
	text-decoration:underline;
	text-transform:uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
}

.box-2{
	border:3px solid #ccc;
	padding:20px;
	width : 40%;
	position : absulate;
	top : 30%;
	left : 25%;
	margin: auto;
}
.box{
	font-family:Tahoma;
	font-weight:800;
	font-style:Bold;
	font-style:Italic;
	letter-spacing: 0.2em;
	word-spacing: 1em;
	margin : 20%
	padding : 20%;
	background : black;
	color: white;
}

.my-form{
	padding:20px;
}

.my-form .form-group{
	padding-bottom:15px;
}

.my-form label{
	display:block;
}

.my-form input[type="text"], .my-form input[type="email"], .my-form input[type="password"]{
	padding:8px;
	width:100%;
}

.msg {
	margin: 5px auto;
	border-radius: 5px;
	border: 1px solid red;
	background: pink;
	text-align: left;
	color: brown;
	padding: 10px;
}
.msg-2 {
	margin: 5px auto;
	border-radius: 5px;
	border: 1px solid red;
	background: green;
	text-align: left;
	color: black;
	padding: 10px;
}
